span i {
  padding-right: 0.2em;
}

span.card-header-title {
  margin: 0 0.2em;
}

.card-header-title p.buttons {
  margin-left: 3em;
}

.module {
  margin-bottom: 1.5em;

  // TODO
  &:hover {
    box-shadow: 5px 5px 2px 1px rgba(196, 196, 234, 0.2);
  }

  .inlineInput {
    &.input {
      max-width: 200px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
